.podcast-card {
	background-size: cover;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2%;
	max-height: 290px;
	min-height: 290px;
	max-width: 250px;
	min-width: 250px;
	opacity: 1;
}

.card-title {
  color: white;
	display: flex;
	font-size: 14px;
	justify-content: center;
	margin: 0;
	width: 200px;
	text-align: center;
}

.CC-img {
	margin: 2% 0;
	max-width: 76%;
	object-fit: cover;
}

.cc-button {
	cursor: pointer;
	height: 2vh;
	font-size: 14px;
}